= form_for @restaurant do |f|
  - if @restaurant.errors.any?
    #error_explanation
      h2 = "#{pluralize(@restaurant.errors.count, "error")} prohibited this restaurant from being saved:"
      ul
        - @restaurant.errors.full_messages.each do |message|
          li = message

  .columns
    .column
      .field
        = f.label :name, 'Nombre'
        .control
          = f.text_field :name,
          class: 'input',
          required: true
    .column
      .field
        = f.label :id
        .control
          = f.text_field :id,
            class: 'input',
            required: true,
            placeholder: '{8}-{4}-{4}-{4}-{12}',
            pattern: '[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}',
            title: '{8}-{4}-{4}-{4}-{12}'
  .columns
    .column.is-1
      .field
        = f.label :rating
        .control: .select
          = f.select :rating,
          options_for_select(0..5),
          required: true
    .column
      .field
        = f.label :site, 'Sitio Web'
        .control
          = f.text_field :site,
            placeholder: 'https://ejemplo-de-sitio-web.com',
            class: 'input',
            required: true
    .column
      .field
        = f.label :email, 'Correo electrónico'
        .control
          = f.email_field :email,
            placeholder: 'alguien@ejemplo.com',
            class: 'input',
            required: true
    .column
      .field
        = f.label :phone, 'Teléfono'
        .control
          = f.text_field :phone, class: 'input', required: true
  .columns
    .column
      .field
        = f.label :street, 'Calle'
        .control
          = f.text_field :street, class: 'input', required: true
    .column
      .field
        = f.label :city, 'Ciudad'
        .control
          = f.text_field :city, class: 'input', required: true
    .column
      .field
        = f.label :state, 'Estado'
        .control
          = f.text_field :state, class: 'input', required: true
  .columns
    .column
      .field
        = f.label :lat, 'Latitud'
        .control
          = f.number_field :lat,
            class: 'input',
            required: true,
            in: (-90..90),
            step: 0.0000000000001
    .column
      .field
        = f.label :lng, 'Longitud'
        .control
          = f.number_field :lng,
            class: 'input',
            required: true,
            in: (-180..180),
            step: 0.0000000000001
    .column
      .actions: .control: .columns.is-centered: .column.is-three-quarters
        = f.submit 'Guardar', class: 'button is-success is-medium is-fullwidth'
