.hero.is-success
  .hero-body
    .container
      .columns
        .column.is-1
          = link_to restaurants_path, class: 'button is-success is-large is-outlined is-inverted'
            span.icon
              i.fas.fa-arrow-left
        .column
          h1.title Editar restaurante '#{@restaurant.name}'
          h2.subtitle Cambia los datos necesarios

section.section
  .container: .columns: .column
    == render 'form'