.hero.is-success
  .hero-body
    .container
      .columns
        .column.is-three-quarters
          h1.title Estos son nuestros restaurantes disponibles
        .column.has-text-right
          = link_to new_restaurant_path, class: 'button is-medium is-success is-outlined is-inverted'
            span.icon
              i.fas.fa-plus-circle
            span Nuevo

section.section
  .container: .columns: .column
    .columns.is-multiline
      - @restaurants.each do |restaurant|
        .column.is-half: .card
          = link_to restaurant
            helper.card-header.has-background-primary
              p.card-header-title.has-text-white = restaurant.name
          .card-content: .content
            .site
              .columns
                .column
                  span.has-text-weight-bold Sitio:&nbsp;
                  = link_to restaurant.site, restaurant.site
                .column.has-text-right
                  - restaurant.rating.times do
                    span.icon.has-text-warning
                      i.fas.fa-star
                  - (5 - restaurant.rating).times do
                    span.icon
                      i.fas.fa-star
            .contact
              .columns.is-multiline
                .column
                  span.icon
                    i.fas.fa-at
                  span = restaurant.email
                .column.has-text-right
                  span.icon
                    i.fas.fa-phone
                  | &nbsp;
                  span = restaurant.phone
            .location: .columns: .column
              p.has-text-weight-bold Ubicados en
              p
                = restaurant.street
                | ,&nbsp;
                = restaurant.city
                | ,&nbsp;
                = restaurant.state
              p
                span.icon
                  i.fas.fa-map-marker-alt
                span.has-text-weight-bold
                  | Lat.:&nbsp;
                span = restaurant.lat
                | &nbsp;&nbsp;
                span.span.has-text-weight-bold
                  | Long.:&nbsp;
                span = restaurant.lng
          footer.card-footer
            = link_to edit_restaurant_path(restaurant), class: 'card-footer-item has-text-info'
              span.has-text-warning
                span.icon
                  i.fas.fa-pen
                span Editar
            = link_to restaurant, data: { confirm: "Eliminar restaurante #{restaurant.name}?" }, 
              method: :delete, class: 'card-footer-item'
              span.has-text-danger
                span Eliminar
                span.icon
                  i.fas.fa-times