.hero.is-success
  .hero-body
    .container
      .columns
        .column.is-1
          = link_to restaurants_path, class: 'button is-success is-large is-outlined is-inverted'
            span.icon
              i.fas.fa-arrow-left
        .column
          span.title = @restaurant.name
          | &nbsp;
          = link_to edit_restaurant_path(@restaurant), class: 'is-size-4'
            span.icon
              i.fas.fa-pen
        .column.is-2.has-text-right.is-size-5
          - @restaurant.rating.times do
            span.icon.has-text-warning
              i.fas.fa-star
          - (5 - @restaurant.rating).times do
            span.icon
              i.fas.fa-star

section.section
  .container: .columns: .column
    p#notice = notice
    .columns: .column
      span.title.is-3
        | Sitio Web:&nbsp;
        = link_to @restaurant.site, @restaurant.site, class: 'is-size-3'
    .columns: .column
      h3.title.is-3 Contacto
      .columns
        .column.has-text-centered
          span.title.is-4
            span.icon
              i.fas.fa-at
            | &nbsp;&nbsp;
            span = @restaurant.email
        .column.has-text-centered
          span.title.is-4
            span.icon
              i.fas.fa-phone
            | &nbsp;&nbsp;
            span = @restaurant.phone
    .columns: .column
      h3.title.is-3 Dirección
      .columns
        .column
          h5.title.is-5 Calle
          span.is-size-6 = @restaurant.street
        .column
          h5.title.is-5 Ciudad
          span.is-size-6 = @restaurant.city
        .column
          h5.title.is-5 Estado
          span.is-size-6 = @restaurant.state
    .columns: .column
      h3.title.is-3 Ubicación
      .columns
        .column.has-text-centered
          span
            span.title.is-5 Latitud:
            | &nbsp;&nbsp;
            span.is-size-5 = @restaurant.lat
        .column.has-text-centered
          span
            span.title.is-5 Longitud:
            | &nbsp;&nbsp;
            span.is-size-5 = @restaurant.lng