.navbar-brand
  = link_to root_path, class: 'navbar-item'
    span.icon.is-large: span.fa-stack
      i.fas.fa-circle.fa-stack-2x
      i.fas.fa-hotel.fa-stack-1x.has-text-success
    span.is-size-2.has-text-weight-bold style="letter-spacing: 5px;"
      | Melp