doctype html
html
  head
    title Melp on Rails
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://jenil.github.io/bulmaswatch/litera/bulmaswatch.min.css', media: 'all'
    = stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.3.1/css/all.css',
      integrity: 'sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin:'anonymous'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    nav.navbar.is-success role="navigation" aria-label="main navigation"
      == render partial: 'layouts/nav'
    = yield
